<div class="products">
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>xbox one x 1TB</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41yy1iXjtwL._AC_.jpg" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
</div>